<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
<script type='text/javascript' src="/js/vendors.min.js" ></script>
<script type='text/javascript' src="/js/bundle.min.js" ></script>
</body>
</html>
