<div class="navigation" id="desktop-navigation">
    <div class="navigation__logo">
    <div class="avatar__container">
        <a
            href="#"
            class="avatar__link open-lightbox w-inline-block"
        >
            <img
                src="/assets/svgs/logo.svg"
                loading="eager"
                alt="Muzikie logo"
                class="avatar is--navigation"
            />
        </a>
    </div>
    <a href="/#top" class="menu__link-name">
        <strong>Muzikie</strong>
    </a>
    </div>
    <div class="navigation__line"></div>
    <div class="menu__mobile">
    <div class="menu__links">
        <a
            href="#"
            class="menu__link-mobile w-inline-block"
        >
            <div>Menu</div>
            <div class="menu__icon">
                <div class="menu-icon__line-1"></div>
                <div class="menu-icon__line-2"></div>
            </div>
        </a>
    </div>
    </div>
    <div class="menu__desktop">
        <div class="menu__links">
            <a href="/#solution" class="menu__link-darkmode">Solution</a>
            <a href="/#faq" class="menu__link">FAQ</a>
            <a href="/#problem" class="menu__link-darkmode">Problem</a>
        </div>
    </div>
</div>