<div class="light-mode">
    <div class="footer">
        <div class="container">
            <div class="container__text is--footer">
            <div class="footer__text">
                © Block Made GmbH 
                <script type="text/javascript">document.write( new Date().getFullYear() );</script>
            </div>
            <div class="footer__text">
                <a href="/imprint" class="menu__link is--imprint">Imprint</a>
            </div>
            <div class="footer__text">
                <a href="/privacy" class="menu__link is--imprint">Privacy Policy</a>
            </div>
            <div class="footer__text">
                <a href="/terms" class="menu__link is--imprint">Terms of Use</a>
            </div>
            <div class="footer__text">
                <a href="/faucet" class="menu__link is--imprint">Faucet</a>
            </div>
            </div>
        </div>
    </div>
</div>