<div class="light-mode">
    <div class="footer">
        <div class="container">
            <div class="container__text is--footer">
            <div class="footer__text">
                © Block Made GmbH 
                <script type="text/javascript">document.write( new Date().getFullYear() );</script>
            </div>
            <div class="footer__text">
                <a href="/pages/imprint.html" class="menu__link is--imprint">Imprint</a>
            </div>
            <div class="footer__text">
                <a href="/pages/privacyPolicy.html" class="menu__link is--imprint">Privacy Policy</a>
            </div>
            <div class="footer__text">
                <a href="/pages/termsAndConditions.html" class="menu__link is--imprint">Terms of Use</a>
            </div>
            </div>
        </div>
    </div>
</div>