<!DOCTYPE html>

<html lang="en">
   <head>
      <!-- Google tag (gtag.js) -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=G-HMFCV4V8NG"></script>
      <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.runtime.js"></script>
      <script>
         window.dataLayer = window.dataLayer || [];
         function gtag(){dataLayer.push(arguments);}
         gtag('js', new Date());

         gtag('config', 'G-HMFCV4V8NG');
      </script>
      <meta charset="utf-8" />
      <title>Music crowdfunding platform</title>
      <meta
         content="Muzikie is a Music crowdfunding platform which is, transparent, easy to use and democratic. Join music to enjoy music while supporting the future of music."
         name="description"
      />
      <meta
         content="Muzikie - Music crowdfunding platform"
         property="og:title"
      />
      <meta
         content="Muzikie is a Music crowdfunding platform which is, transparent, easy to use and democratic. Join music to enjoy music while supporting the future of music."
         property="og:description"
      />
      <meta
         content="Muzikie - Music crowdfunding platform"
         property="twitter:title"
      />
      <meta
         content="Muzikie is a Fair and fresh music streaming platform which is, transparent, easy to use and democratic. Join music to enjoy music while supporting the future of music."
         property="twitter:description"
      />
      <meta property="og:type" content="website" />
      <meta content="width=device-width, initial-scale=1" name="viewport" />
      <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/icon-1.png" />
      <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/icon-2.png" />
      <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/icon-3.png"/>
      <link rel="mask-icon" href="/assets/img/icon-4.svg" color="#453248" />
      <link href="//cdn-images.mailchimp.com/embedcode/classic-071822.css" rel="stylesheet" type="text/css">
      <link href="/css/style.css" rel="stylesheet" />
   </head>
   <body>