<div class="menu__mobile__expanded">
    <div class="glasspane is--mobile-expanded"></div>
    <div class="mobile-expanded__background is--under-glasspane"></div>
    <div class="menu__mobile-expanded_flyout">
    <div class="navigation is--mobile-expanded">
        <div class="navigation__line force--white"></div>
        <div class="menu__mobile">
            <div class="menu__links">
                <a
                href="#"
                class="menu__link-mobil-close w-inline-block menu-close-button"
                >
                <div class="menu__icon is--close">
                    <div class="menu-icon__line-1"></div>
                    <div class="menu-icon__line-2"></div>
                </div>
                <div class="is--alt-text">Close</div>
                </a>
            </div>
        </div>
    </div>
    <div class="menu__links is--socials is--mobile-expanded">
        <a
            href="https://twitter.com/muzikieHQ"
            target="_blank"
            class="social-icon is--mobile-expanded w-inline-block"
        >
            <div class="html-embed w-embed">
                <img src="./assets/svgs/twitter.svg" alt="" />
            </div>
            <div class="is--alt-text">Twitter</div>
        </a>
        <a
            href="https://github.com/muzikie"
            target="_blank"
            class="social-icon is--mobile-expanded w-inline-block"
        >
            <div class="html-embed w-embed">
                <img src="./assets/svgs/github.svg" alt="" />
            </div>
            <div class="is--alt-text">Github</div>
        </a>
        <a
            href="https://t.me/muzikieHQ"
            target="_blank"
            class="social-icon is--mobile-expanded w-inline-block"
        >
            <div class="html-embed w-embed">
                <img src="./assets/svgs/telegram.svg" alt="" />
            </div>
            <div class="is--alt-text">Telegram</div>
        </a>

    </div>
    <div class="mobile-links__container">
        <div class="mobile-links">
            <div class="mobile-links__column">
                <a
                href="/#problem"
                class="is--mobile-link w-inline-block menu-close-button"
                >
                <div
                    class="icon-24 is--down is--mobile-expanded w-embed"
                >
                    <svg
                        viewBox="0 0 24 24"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M11.106 2.55191L12 0.763916L12.8939 2.55177L12.8944 2.55277L12.901 2.56571C12.9071 2.57743 12.9169 2.59639 12.9305 2.62211C12.9577 2.67356 13 2.75196 13.0571 2.85347C13.1714 3.05663 13.3445 3.3515 13.5744 3.70746C14.0354 4.4213 14.7182 5.37058 15.6045 6.31604C17.3955 8.22642 19.8995 9.99998 23 9.99998V12C19.1005 12 16.1045 9.77354 14.1455 7.68393C13.72 7.23007 13.3378 6.77692 13 6.34527V24H11V6.34527C10.6622 6.77692 10.28 7.23007 9.85454 7.68393C7.89552 9.77354 4.89951 12 1 12V9.99998C4.10049 9.99998 6.60448 8.22642 8.39546 6.31604C9.28183 5.37058 9.96457 4.4213 10.4256 3.70746C10.6555 3.3515 10.8286 3.05663 10.9429 2.85347C11 2.75196 11.0423 2.67356 11.0695 2.62211C11.0831 2.59639 11.0929 2.57743 11.099 2.56571L11.106 2.55191Z"
                            fill="CurrentColor"
                        />
                    </svg>
                </div>
                <div class="h2 is--menu">Problem</div>
                </a>
                <a
                href="/#solution"
                class="is--mobile-link w-inline-block menu-close-button"
                >
                <div
                    class="icon-24 is--down is--mobile-expanded w-embed"
                >
                    <svg
                        viewBox="0 0 24 24"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M11.106 2.55191L12 0.763916L12.8939 2.55177L12.8944 2.55277L12.901 2.56571C12.9071 2.57743 12.9169 2.59639 12.9305 2.62211C12.9577 2.67356 13 2.75196 13.0571 2.85347C13.1714 3.05663 13.3445 3.3515 13.5744 3.70746C14.0354 4.4213 14.7182 5.37058 15.6045 6.31604C17.3955 8.22642 19.8995 9.99998 23 9.99998V12C19.1005 12 16.1045 9.77354 14.1455 7.68393C13.72 7.23007 13.3378 6.77692 13 6.34527V24H11V6.34527C10.6622 6.77692 10.28 7.23007 9.85454 7.68393C7.89552 9.77354 4.89951 12 1 12V9.99998C4.10049 9.99998 6.60448 8.22642 8.39546 6.31604C9.28183 5.37058 9.96457 4.4213 10.4256 3.70746C10.6555 3.3515 10.8286 3.05663 10.9429 2.85347C11 2.75196 11.0423 2.67356 11.0695 2.62211C11.0831 2.59639 11.0929 2.57743 11.099 2.56571L11.106 2.55191Z"
                            fill="CurrentColor"
                        />
                    </svg>
                </div>
                <div class="h2 is--menu">Solution</div>
                </a>
            </div>
            <div class="mobile-links__column">
                <a
                href="/#faq"
                class="is--mobile-link w-inline-block menu-close-button"
                >
                <div
                    class="icon-24 is--down is--mobile-expanded w-embed"
                >
                    <svg
                        viewBox="0 0 24 24"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M11.106 2.55191L12 0.763916L12.8939 2.55177L12.8944 2.55277L12.901 2.56571C12.9071 2.57743 12.9169 2.59639 12.9305 2.62211C12.9577 2.67356 13 2.75196 13.0571 2.85347C13.1714 3.05663 13.3445 3.3515 13.5744 3.70746C14.0354 4.4213 14.7182 5.37058 15.6045 6.31604C17.3955 8.22642 19.8995 9.99998 23 9.99998V12C19.1005 12 16.1045 9.77354 14.1455 7.68393C13.72 7.23007 13.3378 6.77692 13 6.34527V24H11V6.34527C10.6622 6.77692 10.28 7.23007 9.85454 7.68393C7.89552 9.77354 4.89951 12 1 12V9.99998C4.10049 9.99998 6.60448 8.22642 8.39546 6.31604C9.28183 5.37058 9.96457 4.4213 10.4256 3.70746C10.6555 3.3515 10.8286 3.05663 10.9429 2.85347C11 2.75196 11.0423 2.67356 11.0695 2.62211C11.0831 2.59639 11.0929 2.57743 11.099 2.56571L11.106 2.55191Z"
                            fill="CurrentColor"
                        />
                    </svg>
                </div>
                <div class="h2 is--menu">FAQ</div>
                </a>
                {{!-- <a
                href="/artists"
                class="is--mobile-link w-inline-block menu-close-button"
                >
                <div
                    class="icon-24 is--down is--mobile-expanded w-embed"
                >
                    <svg
                        viewBox="0 0 24 24"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M11.106 2.55191L12 0.763916L12.8939 2.55177L12.8944 2.55277L12.901 2.56571C12.9071 2.57743 12.9169 2.59639 12.9305 2.62211C12.9577 2.67356 13 2.75196 13.0571 2.85347C13.1714 3.05663 13.3445 3.3515 13.5744 3.70746C14.0354 4.4213 14.7182 5.37058 15.6045 6.31604C17.3955 8.22642 19.8995 9.99998 23 9.99998V12C19.1005 12 16.1045 9.77354 14.1455 7.68393C13.72 7.23007 13.3378 6.77692 13 6.34527V24H11V6.34527C10.6622 6.77692 10.28 7.23007 9.85454 7.68393C7.89552 9.77354 4.89951 12 1 12V9.99998C4.10049 9.99998 6.60448 8.22642 8.39546 6.31604C9.28183 5.37058 9.96457 4.4213 10.4256 3.70746C10.6555 3.3515 10.8286 3.05663 10.9429 2.85347C11 2.75196 11.0423 2.67356 11.0695 2.62211C11.0831 2.59639 11.0929 2.57743 11.099 2.56571L11.106 2.55191Z"
                            fill="CurrentColor"
                        />
                    </svg>
                </div>
                <div class="h2 is--menu">Artists</div>
                </a> --}}
            </div>
        </div>
    </div>
    <div class="mobile-expanded__circle"></div>
    <div class="mobile-expanded__background"></div>
    <div class="mobile-expanded__background is--close-trigger"></div>
    </div>
</div>
<div class="navigation__backdrop-container">
    <div class="navigation__backdrop is--mobile w-embed">
    <img src="./assets/svgs/menu-bg.svg" alt="" />
    </div>
    <div id="nav-back" class="navigation__backdrop w-embed">
    <svg
        width="3840"
        height="610"
        viewBox="0 0 3840 610"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
    >
        <rect
            width="3840"
            height="610"
            transform="matrix(1 0 0 -1 0 610)"
            fill="url(#paint0_linear_549_11196)"
        ></rect>
        <defs>
            <linearGradient
                id="paint0_linear_549_11196"
                x1="688.5"
                y1="0"
                x2="688.5"
                y2="610"
                gradientUnits="userSpaceOnUse"
            >
                <stop stop-color="CurrentColor" stop-opacity="0"></stop>
                <stop
                offset="0.0414816"
                stop-color="CurrentColor"
                stop-opacity="0.01"
                ></stop>
                <stop
                offset="0.0752383"
                stop-color="CurrentColor"
                stop-opacity="0.0324148"
                ></stop>
                <stop
                offset="0.102458"
                stop-color="CurrentColor"
                stop-opacity="0.0704"
                ></stop>
                <stop
                offset="0.12433"
                stop-color="CurrentColor"
                stop-opacity="0.120652"
                ></stop>
                <stop
                offset="0.142043"
                stop-color="CurrentColor"
                stop-opacity="0.181481"
                ></stop>
                <stop
                offset="0.156784"
                stop-color="CurrentColor"
                stop-opacity="0.2512"
                ></stop>
                <stop
                offset="0.169742"
                stop-color="CurrentColor"
                stop-opacity="0.328119"
                ></stop>
                <stop
                offset="0.182106"
                stop-color="CurrentColor"
                stop-opacity="0.410548"
                ></stop>
                <stop
                offset="0.195065"
                stop-color="CurrentColor"
                stop-opacity="0.4968"
                ></stop>
                <stop
                offset="0.209806"
                stop-color="CurrentColor"
                stop-opacity="0.585185"
                ></stop>
                <stop
                offset="0.227518"
                stop-color="CurrentColor"
                stop-opacity="0.674015"
                ></stop>
                <stop
                offset="0.24939"
                stop-color="CurrentColor"
                stop-opacity="0.7616"
                ></stop>
                <stop
                offset="0.27661"
                stop-color="CurrentColor"
                stop-opacity="0.846252"
                ></stop>
                <stop
                offset="0.310367"
                stop-color="CurrentColor"
                stop-opacity="0.926281"
                ></stop>
                <stop offset="0.351849" stop-color="CurrentColor"></stop>
            </linearGradient>
        </defs>
    </svg>
    </div>
</div>