<form action="https://muzikie.us21.list-manage.com/subscribe/post?u=2fe3288f79f8b79c0dd6da304&amp;id=83fe828182&amp;f_id=0009a9e1f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="form" target="_blank" novalidate>
   <div hidden="true"><input type="hidden" name="tags" value="451373"></div>
   <div class="lightbox__column-1__container">
      <div class="lightbox__column-1">
         <h2 class="h2 is--lightbox">Stay up to date</h2>
         <p class="is--small is--lightbox">Subscribe to Muzikie monthly newsletter.<br></p>
         <p class="is--small is--lightbox">And win a chance to <strong>receive Muzikie tokens</strong></p>
      </div>
   </div>
   <div class="scrollpane">
      <div class="container__16 is--form">
         <div class="text-field__container is--vertical">
            <div class="field">
               <div class="text-input custom">
                  <div class="html-field w-embed">
                     <input class="custom-input" placeholder="Email*" type="email" name="EMAIL" id="mce-EMAIL" maxlength="256" required="">
                     <label class="floating-label" for="mce-EMAIL">Email*</label>
                  </div>
               </div>
            </div>
         </div>
         <div class="text-field__container is--button">
            <input type="submit" data-wait="One second..." name="subscribe" value="Subscribe" class="button is--small is--submit w-button" id="mc-embedded-subscribe" />
            <div class="label" id="mce-success-response">Subscribe and receive <strong>latest news and updates</strong></div>
            <div class="available-label__wrapper">
               <div class="label">
                  <a href="http://eepurl.com/iogHsA" title="Mailchimp - email marketing made easy and fun">
                     <img src="https://eep.io/mc-cdn-images/template_images/branding_logo_text_dark_dtp.svg">
                  </a>
               </div>
            </div>
         </div>
      </div>
   </div>
</form>

