{{> head title="Not found"}}
<section class="light-mode stage column-space-between">
    <div>-</div>
    <div class="container is--stage">
        <div class="container__text ">
            <h1>Oh! it's gone.</h1>
            <p>It's not here anymore</p>
        </div>
    </div>
    {{> footer}}
</section>
{{> desktopNavigation}}
{{> mobileNavigation}}
{{> closing}}