{{> head title="Artists"}}
<section class="light-mode">
    <div class="stage" id="top">
        <div class="container is--stage">
            <div class="container__text is--stage">
                <div class="container__16">
                <div class="div-block artist fair--income">
                    <div class="container__16 fair--income">
                        <div class="fair--income-left">
                            <h2 class="h2">Receive your fair income <span class="h2 is--gold">anytime</span></h2>
                        </div>
                        <div class="percentage">80%</div>
                    </div>
                    <div class="container__16 fair--income-bottom">
                        <p class="is--small is--accordion">
                            Muzikie offers transparent system profit distribution. 
                            As artists, you receive 80% of the stream profit. 
                            Claim your income any time from your dashboard.
                        </p>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="dark-mode collaboration space_section">
<div class="top-shadow"></div>
<img
    src="../assets/images/premium_photo-1663045771317-745e2668c779 1 (1).jpg"
    loading="eager"
    alt=""
    class="process__illustration"
/>
<div class="container">
    <div class="container__text">
        <div class="container__16">
            <div class="div-block artist">
            <div class="container__16">
                <h2 class="h2">A studio for artists <span class="h2 is--gold"> collaboration</span></h2> 
                
                <p class="is--small is--accordion">
                    All artists who have contributed in a song can be listed in credits, 
                    <br>
                    shining the spotlight on all musicians.
                </p>
            </div>
            </div>
        </div>
    </div>
</div>
<div class="shadow"></div>
</div>
<section class="light-mode space_section">
<div class="container is--stage">
    <div class="container__text">
        <div class="container__16">
            <div class="div-block artist">
            <div class="container__16 spotlight">
                <h2 class="h2">A spotlight to shine on <span class="h2 is--gold">you</span></h2>
                <p class="is--small is--accordion">
                    All artists who have contributed in a song can be listed in credits, 
                    shining the spotlight on all musicians.
                </p>
            </div>
            <img
                src="../assets/images/photo-1488841714725-bb4c32d1ac94 1.jpg"
                loading="eager"
                alt=""
                class="process__illustration spotlight"
            />
            </div>
        </div>
    </div>
</div>
</section>
<div class="dark-mode raise-funds">
<div class="tag is--recommended artist-tag">Soon</div>
<img
    src="../assets/images/premium_photo-1663045771317-745e2668c779 1.jpg"
    loading="eager"
    alt=""
    class="process__illustration"
/>
<div class="container">
    <div class="container__text">
        <div class="container__16">
            <div class="div-block artist">
            <div class="container__16 funds">
                <h2 class="h2"><span class="h2 is--gold">Raise funds </span> for your next album</h2> 
                
                <p class="is--small is--accordion">
                    Raise funds for your upcoming album from your fans in exchange for royalty rights,
                    <br> 
                    concert tickets, album early access and more.
                </p>
            </div>
            
            </div>
        </div>
    </div>
</div>
</div>
<section class="light-mode taste-of-music space_section">
<div class="container is--stage">
    <div class="container__text is--stage">
        <div class="container__16">
            <div class="div-block artist">
            <div class="container__16 taste-of-music-container">
                <div class="tag is--recommended artist-tag">Soon</div>
                <h2 class="h2">Get compensated for your incredible taste of music</h2>
                <p class="is--small is--accordion">
                    If you curate playlists that resonate with your audience, 
                    if your playlists help fans discover new music for every emotion and every occasion, 
                    you receive 10% of the steam profit.
                </p>
            </div>
            <img
                src="../assets/images/photo-1488841714725-bb4c32d1ac94 2.jpg"
                loading="eager"
                alt=""
                class="process__illustration"
            />
            </div>
        </div>
    </div>
</div>
</section>
<section class="light-mode space_section_last">
    <div class="container is--stage">
        <div class="container__text is--stage">
            <div class="container__16">
                <div class="div-block artist form">
                <div class="container__16 max">
                    <h2 class="h2">Be the pioneer</h2>
                    <p class="is--small is--accordion">
                        We’ll send you a email with all the instructions 
                        you need (Although it’s pretty simple).
                    </p>
                </div>
                <form action="https://muzikie.us21.list-manage.com/subscribe/post?u=2fe3288f79f8b79c0dd6da304&amp;id=83fe828182&amp;f_id=0009a9e1f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="form artist pioneer" target="_blank" novalidate>
                    <div hidden="true"><input type="hidden" name="tags" value="2818383"></div>
                    <div class="scrollpane">
                        <div class="container__16 is--form">
                            <div class="text-field__container is--vertical">
                            <div class="field">
                                <div class="text-input custom">
                                    <div class="html-field w-embed">
                                        <input class="custom-input" placeholder="Email*" type="email" name="EMAIL" id="mce-EMAIL" maxlength="256" required="">
                                        <label class="floating-label" for="mce-EMAIL">Email*</label>
                                    </div>
                                </div>
                            </div>
                            </div>
                            <div class="text-field__container is--vertical">
                            <div class="field">
                                <div class="text-input custom">
                                <div class="html-field w-embed">
                                    <input class="custom-input" placeholder="Name*" type="text" name="name" id="name" maxlength="256" required="">
                                    <label class="floating-label" for="name">Name*</label>
                                </div>
                                </div>
                            </div>
                            </div>
                            <div class="text-field__container is--vertical">
                            <div class="field">
                            <div class="text-input custom">
                                <div class="text-input custom">
                                    <div class="html-field w-embed">
                                        <input class="custom-input" placeholder="Phone" type="tel" name="phone" id="phone" maxlength="256">
                                        <label class="floating-label" for="phone">Phone</label>
                                    </div>
                                </div>
                            </div>
                            </div>
                            </div>
                            <div class="text-field__container is--button">
                            <input type="submit" data-wait="One second..." name="subscribe" value="Register" class="button is--small is--submit w-button" id="mc-embedded-subscribe" />
                            <div class="label" id="mce-success-response"></div>
                            </div>
                        </div>
                    </div>
                </form>
                </div>
            </div>
        </div>
    </div>
</section>
{{> footer}}
{{> desktopNavigation}}
{{> mobileNavigation}}
{{> backToTop}}
{{> closing}}