{{> head title="Imprint"}}
<section class="light-mode">
    <div class="container is--stage">
        <div class="container__text">
            <br/>
            <br/>
            <h2>Imprint</h2>
            <p>
                Block Made GmbH
                <br>
                Akazienstraße 3A
                <br>
                10823 Berlin
                <br>
                Germany
            </p>
            <p>
                <strong>Managing Director:</strong>
                <br>
                Ali Haghighatkhah
            </p>
            <p>
                <br>
                <strong>Contact:</strong>
                <br>
                Email: info[at]block-made[dot]com
                <br>
                Commercial Register:
                <br>
                Amtsgericht Berlin-Charlottenburg
                <br>
                <br>
            </p>
            <p class="text--message is--small">
                <strong>Disclaimer:</strong>
                <br>
                This website is provided "as is" and Block Made GmbH makes no representations or warranties of any kind, express or implied, about the completeness, accuracy, reliability, suitability, or availability with respect to the website or the information, products, services, or related graphics contained on the website for any purpose. Any reliance you place on such information is therefore strictly at your own risk.
                <br>
                <br>
                <strong>Copyright and Trademark Notice:</strong> 
                <br>
                This website and its content are copyright of Block Made GmbH. All rights reserved. Any redistribution or reproduction of part or all of the contents in any form is prohibited other than the following:

                You may print or download to a local hard disk extracts for your personal and non-commercial use only.
                You may copy the content to individual third parties for their personal use, but only if you acknowledge the website as the source of the material.
                You may not, except with our express written permission, distribute or commercially exploit the content. Nor may you transmit it or store it in any other website or other form of electronic retrieval system.
                <br>
                <br>
                <strong>Updates:</strong> 
                <br>
                This Imprint page may be updated from time to time. Please check back periodically to stay up to date on any changes.
            </p>
        </div>
    </div>
</section>
{{> footer}}
{{> desktopNavigation}}
{{> mobileNavigation}}
{{> backToTop}}
{{> closing}}