{{> head title="Muzikie"}}
<div class="page-wrapper">
    <main class="main-wrapper">
    <!-- hero section with light mode -->
    <section class="light-mode intersection-observed">
        <div class="stage" id="top">
            <div class="container is--stage">
                <div class="container__text is--stage">
                <div class="stage__header">
                    <h1 class="display is-gold">Muzikie</h1>
                    <h1 class="display">
                        The premier music nexus
                    </h1>
                </div>
                <p class="is--big is--stage">
                    Financially fueling artists while granting fans exclusive perks
               
                </p>
                <div type="button" id="button" class="stage__buttons">
                    <a
                        href="#problem"
                        class="button is--secundary is--find-out-more w-inline-block"
                    >
                        <div>Find out more</div>
                        <div class="find-out-more-arrow__container">
                            <div class="icon-24 is--down w-embed">
                            <img
                                src="./assets/svgs/scrollDown.svg"
                                class="opacity-50"
                                alt=""
                            />
                            </div>
                            <div class="icon-24 is--down w-embed">
                            <img
                                src="./assets/svgs/scrollDown.svg"
                                class="opacity-50"
                                alt=""
                            />
                            </div>
                        </div>
                    </a>
                </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end of hero section  -->
    <!-- Problem section -->
    <div class="dark-mode intersection-observed" id="problem">
        <section class="what-i-do">
            <div id="el" class="container">
                <div class="container__text">
                <div class="container__16">
                    <div class="change-header">
                        <h3 class="h2">Existing platforms</h3>
                        <div class="change-header__overflow">
                            <div class="change-header__move">
                            <h3 class="h2 is--gold title--changing">
                                aren't tailored for music
                            </h3>
                            <h3 class="h2 is--gold title--changing">
                                have no ongoing Support
                            </h3>
                            <h3 class="h2 is--gold title--changing">
                                have little incentive for fans
                            </h3>
                            <h3 class="h2 is--gold title--changing">
                                are high effort - low pay
                            </h3>
                            <h3 class="h2 is--gold title--changing">
                                could be better
                            </h3>
                            </div>
                        </div>
                    </div>
                    <p class="is--broad is--darkmode">
                        Existing platforms offers either limited revenue stream to musicians or
                        force them to produce extra content, hence distracting them from their
                        original passion for creating wonderful tunes.
                    </p>
                </div>
                </div>
                <div class="container__32">
                <div class="container__text">
                    <h3 class="h4">How it is now</h3>
                </div>
                <div class="container__broad">
                    <div class="accordion js-accordion">
                        <div
                            class="accordion-item js-accordion-item is--darkmode active"
                        >
                            <div
                            class="accordion-header js-accordion-header"
                            >
                            <h4 class="h6">Missing Dedicated Active Community</h4>
                            <div class="js-accordion-icon w-embed">
                                <img
                                    src="./assets/svgs/dropdowan.svg"
                                    class="filter"
                                    alt="dropdown"
                                />
                            </div>
                            </div>
                            <div
                            class="accordion-body js-accordion-body is--services"
                            >
                            <div
                                class="accordion-body__service is--product-discovery"
                            >
                                <p
                                    class="is--small is--accordion is--darkmode"
                                >
                                    Musicians often struggle to find a fundraising platform that
                                    <strong class="bold-white">caters exclusively to the music community</strong>
                                    , where artists, fans, labels, and industry professionals gather.
                                    Existing fundraiser platforms accept projects from all industries, making it
                                    <strong class="bold-white">harder to foster</strong>
                                    a stronger sense of community engagement.
                                </p>
                                <div
                                    class="container-service-illustration"
                                >
                                    <div
                                        class="container-service-illustration__mask"
                                    >
                                        <img
                                        src="./assets/svgs/papers.svg"
                                        loading="eager"
                                        alt="Product discovery illustration"
                                        class="service-illustration"
                                        />
                                    </div>
                                </div>
                            </div>
                            </div>
                        </div>
                        <div
                            class="accordion-item js-accordion-item is--darkmode"
                        >
                            <div
                            class="accordion-header js-accordion-header"
                            >
                            <h4 class="h6">Expensive Production Costs</h4>
                            <div class="js-accordion-icon w-embed">
                                <img
                                    src="./assets/svgs/dropdowan.svg"
                                    class="filter"
                                    alt="dropdown"
                                />
                            </div>
                            </div>
                            <div
                            class="accordion-body js-accordion-body is--services"
                            >
                            <div
                                class="accordion-body__service is--product-design"
                            >
                                <p
                                    class="is--small is--accordion is--darkmode"
                                >
                                    Renting studio space or specialized equipment, hiring producers
                                    and sound engineers, paying for mixing, mastering, and distribution,
                                    <strong class="bold-white">the costs can quickly escalate.</strong>
                                </p>
                                <div
                                    class="container-service-illustration"
                                >
                                    <div
                                        class="container-service-illustration__mask"
                                    >
                                        <img
                                        src="./assets/svgs/icons.svg"
                                        loading="eager"
                                        alt="Product design illustration"
                                        class="service-illustration"
                                        />
                                    </div>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </section>
    </div>
    <!-- End of problem section  -->
    <!-- Solution section -->
    <div class="light-mode intersection-observed">
        <div id="solution" class="process">
            <div class="container">
                <div class="container__text">
                <div class="container__16">
                    <h2 class="h2">Muzikie solutions</h2>
                    <div class="div-block">
                        <div class="container__16">
                            <p>
                            Muzikie offers an
                            <strong>
                                auditable, democratic and modern
                            </strong>
                            solution to these issues. Benefiting
                            from the
                            <strong>blockchain technology</strong>
                            Muzikie is a platform for young and
                            promising artists to grow and shine to the
                            fullest of their potential.
                            </p>
                        </div>
                        <img
                            src="./assets/svgs/circleClick.svg"
                            loading="eager"
                            alt=""
                            class="process__illustration"
                        />
                    </div>
                </div>
                </div>
                <div class="container__32">
                <!-- <div class="container__text">
                    <h3 class="h4">Where to start</h3>
                </div> -->
                <div class="container__broad">
                    <div class="accordion js-accordion">
                        <div
                            id="p02"
                            type="button"
                            class="accordion-item js-accordion-item active"
                        >
                            <div
                            class="accordion-header js-accordion-header"
                            >
                            <div class="accordion-header__with-label">
                                <h4 class="h6">All About Music</h4>
                                <!-- <div class="tag is--recommended">
                                    Recommended
                                </div> -->
                            </div>
                            <div class="js-accordion-icon w-embed">
                                <img
                                    src="./assets/svgs/dropdowan.svg"
                                    alt=""
                                />
                            </div>
                            </div>
                            <div
                            id="p01"
                            class="accordion-body js-accordion-body"
                            >
                            <div
                                class="accordion-body__example-project"
                            >
                                <p class="is--small is--accordion">
                                    Since all campaigns on Muzikie are music specific,
                                    <strong>artists</strong> find like minded artists,
                                    <strong>fans</strong> discover new trends,
                                    <strong>labels and venue owners</strong> find new talents.
                                </p>
                            </div>
                            </div>
                        </div>
                        <div
                            id="p02"
                            class="accordion-item js-accordion-item"
                        >
                            <div
                            class="accordion-header js-accordion-header"
                            >
                            <h4 class="h6">Launchpad For Artists</h4>
                            <div class="js-accordion-icon w-embed">
                                <img
                                    src="./assets/svgs/dropdowan.svg"
                                    alt=""
                                />
                            </div>
                            </div>
                            <div class="accordion-body js-accordion-body">
                                <div
                                    id="p01"
                                    class="accordion-body__example-project"
                                >
                                    <p class="is--small is--accordion">
                                        Muzikie is a unique platform where artists can
                                        <strong>receive funds</strong> for their upcoming endeavor by sharing
                                        <strong>easy-to-produce content</strong>
                                        with fans and music lovers.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item js-accordion-item">
                            <div
                            class="accordion-header js-accordion-header"
                            >
                            <h4 class="h6">Exciting For Fans</h4>
                            <div class="js-accordion-icon w-embed">
                                <img
                                    src="./assets/svgs/dropdowan.svg"
                                    alt=""
                                />
                            </div>
                            </div>
                            <div class="accordion-body js-accordion-body">
                                <div
                                    class="accordion-body__example-project"
                                >
                                    <p class="is--small is--accordion">
                                        Muzikie is a platform where fans can receive
                                        <strong>free or discounted tickets</strong>
                                        and other exclusive perks in return for supporting artists.

                                        <strong>Music lovers</strong> can also
                                        <strong>discover new artists</strong>
                                        and be the first to listen to their new songs.

                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item js-accordion-item">
                            <div
                            class="accordion-header js-accordion-header"
                            >
                            <h4 class="h6">Bridge Through Music</h4>
                            <div class="js-accordion-icon w-embed">
                                <img
                                    src="./assets/svgs/dropdowan.svg"
                                    alt=""
                                />
                            </div>
                            </div>
                            <div class="accordion-body js-accordion-body">
                            <div
                                class="accordion-body__example-project"
                            >
                                <p class="is--small is--accordion">
                                    Muzikie helps you easily discover who has a similar taste of music to you? Your friend or even your favorite singer!
                                </p>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact section -->
    <div class="contact dark-mode intersection-observed" id="contact" >
        <div class="container">
            <div class="container__text flex-row">
                <div class="vertically-centered">
                <div class="container__16">
                    <p class="is--gold">Be a part of the future</p>
                    <h2 class="h2">Join our community</h2>
                    <br />
                </div>
                <div class="menu__links is--socials social-links">
                    <a
                        href="https://twitter.com/muzikieHQ"
                        target="_blank"
                        class="social-icon w-inline-block"
                    >
                        <img src="./assets/svgs/twitter.svg" alt="Muzikie Twitter account" />
                        <p class="social-link w-inline-block v-centered">Twitter</p>
                    </a>
                    <a
                        href="https://instagram.com/muzikieHQ"
                        target="_blank"
                        class="social-icon w-inline-block"
                    >
                        <img src="./assets/svgs/instagram.svg" alt="Muzikie instagram account" />
                        <p class="social-link w-inline-block v-centered">Instagram</p>
                    </a>
                    <a
                        href="https://t.me/muzikieHQ"
                        target="_blank"
                        class="social-icon w-inline-block"
                    >
                        <img src="./assets/svgs/telegram.svg" alt="Muzikie Telegram channel" />
                        <p class="social-link w-inline-block v-centered">Telegram</p>
                    </a>
                </div>
                </div>
                <figure>
                <img alt="music producer" src="./assets/images/music-producer.jpg" />
                </figure>
            </div>
        </div>
        <!-- Contact Us -->
        <div class="container">
            <div class="container__text flex-row">
                <div class="vertically-centered">
                <div class="container__16">
                    <h2 class="h2">Let's get connected</h2>
                    <p class="is--big is--stage">
                        We are building Muzikie with love for everybody 
                        who creates or listens to music.
                    </p>
                    <p class="is--big is--stage">
                        Contact us if you need more information, 
                        or you have a feedback or suggestion for us.
                    </p>
                </div>
                <br>
                <div type="button" id="button" class="stage__buttons">
                    <button
                        style="opacity: 1"
                        target="_blank"
                        class="button open-lightbox w-inline-block"
                        onclick="openChat();"
                    >
                        <div class="button__label">Let’s chat</div>
                    </button>
                </div>
                </div>
            </div>
        </div>
        <!-- End of Contact Us -->
        <!-- contact form -->
        <div data-w-id="8dcfffda-0c0f-53b4-cc82-a962361c1c8c" id="contact-lightbox" class="contact-lightbox">
            <div data-w-id="93ba40ff-1858-d433-e268-08881339e16e" class="form-block w-form">
                <button data-w-id="7469f9d7-dad8-4da6-b0d0-4f94e5e7a3d2" onclick="closeFunction();" class="lightbox__close-button w-inline-block">
                <div class="icon-24 w-embed">
                    <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M3 21L21 3" stroke="CurrentColor" stroke-width="2"/>
                            <path d="M3 3L21 21" stroke="CurrentColor" stroke-width="2"/>
                    </svg>
                </div>
                <div class="is--alt-text">Close</div>
                </button>
            </div>
            <form id="wf-form-Project-inquiry" 
                name="wf-form-Project-inquiry" 
                data-name="Project inquiry"
                action="https://formspree.io/f/xpzenkeb"
                method="POST" 
                class="chat-form form">
                <div class="lightbox__column-1__container">
                <div class="lightbox__column-1 description-form">
                    <h2>Let's get connected</h2>
                    <p class="is--small is--lightbox">
                        We are building Muzikie with love for everybody 
                        who creates or listens to music.
                        <br/>
                    </p>
                    <p class="is--small is--lightbox">
                        Contact us if you need more information,
                        or you have a feedback or suggestion for us.
                    </p>
                </div>
                </div>
                <div class="scrollpane">
                <div class="scrollpane__cover">
                    <div class="container__16 is--form">
                        <div class="text-field__container">
                            <div class="field">
                                <div class="text-input custom">
                                    <div class="html-field w-embed">
                                        <input class="custom-input" placeholder="First Name*" type="text" name="firstName" id="firstName" maxlength="256" required="">
                                        <label class="floating-label" for="firstName">First Name*</label>
                                    </div>
                                </div>
                            </div>
                            <div class="field">
                                <div class="text-input custom">
                                    <div class="html-field w-embed">
                                        <input class="custom-input" placeholder="Last Name*" type="text" name="lastName" id="lastName" maxlength="256" required="">
                                        <label class="floating-label" for="lastName">Last Name*</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text-field__container">
                            <div class="field">
                                <div class="text-input custom">
                                    <div class="html-field w-embed">
                                        <input class="custom-input" placeholder="Email*" type="email" name="email" id="email" maxlength="256" required="">
                                        <label class="floating-label" for="email">Email*</label>
                                    </div>
                                </div>
                            </div>
                            <div class="field">
                                <div class="text-input custom">
                                    <div class="html-field w-embed">
                                        <input class="custom-input" placeholder="Phone" type="tel" name="phone" id="phone" maxlength="256">
                                        <label class="floating-label" for="phone">Phone</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text-field__container">
                            <div class="field">
                                <div class="text-input custom is--text-area">
                                    <div class="html-field w-embed">
                                        <textarea class="custom-text-area" placeholder="Message*" type="text" data-name="Message" id="Message" required="" maxlength="5000" style="resize: none;"></textarea>
                                        <label class="floating-label-text-area" for="Message">Message*</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text-field__container">
                            <div class="field">
                                <div class="text-input custom">
                                    <div class="html-field w-embed">
                                        <input class="custom-input" placeholder="Website" type="url" name="website" id="website" maxlength="256">
                                        <label class="floating-label" for="website">Website*</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text-field__container is--button">
                            <input type="submit" data-wait="One second..." value="Send message" class="button is--small is--submit w-button"/>
                    </div>
                    </div>
                </div>
                </div>
            </form>
            <div class="success-message w-form-done">
                <div class="lightbox__column">
                <h2 class="h2 is--lightbox">Your message was send</h2>
                <p class="is--small is--lightbox">
                    Thank you for reaching out. I will get back to you as soon as possible and look forward to talking more.<br/>
                </p>
                <div class="form__succes-button-wrapper">
                    <a data-w-id="8f1c4948-e2f2-1667-ab13-8eb3df2322d9" style="opacity:1" href="#" class="button is--small is--back-to-website w-inline-block">
                        <div class="button__label">Back to website</div>
                        <div class="button__rollover-circle-container">
                            <div data-w-id="8f1c4948-e2f2-1667-ab13-8eb3df2322dd" class="button__rollover-circle"></div>
                        </div>
                    </a>
                </div>
                </div>
            </div>
            <div class="error-message w-form-fail">
                <div class="error__toaster">
                    <div class="label">Oops! Something went wrong while submitting the form.</div>
                </div>
            </div>
            <div data-w-id="28ef9cc2-0d7a-8dc7-59b4-ee1550e7b4c0" class="lightbox">
                <div class="lightbox__cover"></div>
            </div>
        </div>
        <!-- End of Contact form -->
    </div>
    <!-- End of Contact section -->
    <!-- Subscription section -->
    <div class="subscription intersection-observed" id="form" >
    </div>
    <!-- End of Subscription section -->
    <!-- Meetup section -->
    <div class="light-mode intersection-observed">
        <div id="meetup" class="process">
            <div class="container">
                <div class="container__text">
                <div class="container__text">
                    <h2 class="h2">Let's meet up!</h2>
                </div>
                <br />
                <br />
                <div class="container__text">
                    <p class="is--darkmode">
                        Music is the borderless language of souls and musicians are storytellers of this unified universe 🎼
                    </p>
                    <br />
                    <div class="container__16">
                        <p>
                            If you're
                            <strong>
                            a musician
                            </strong>
                            and you record your own songs, or
                            <strong>a music producer</strong>
                            and make music for other singers, or 
                            <strong>a DJ</strong>
                            who spends hours curating perfect playlists, or a little more than a
                            <strong>music fan 🎧</strong>
                        </p>
                    </div>
                    <br />
                    <br />
                    <div type="button" id="button" class="stage__buttons">
                        <p class="is--darkmode">Your spot is reserved</p>
                        <a
                            style="opacity: 1"
                            target="_blank"
                            href="https://www.meetup.com/berlin-music-industry-meetup-group"
                            class="button open-lightbox w-inline-block"
                        >
                            <div class="button__label">join us on Meetup.com</div>
                        </a>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End of Meetup section -->
    <!-- Show status of project -->
    <div class="light-mode intersection-observed">
        <div id="status" class="process status">
            <div class="container">
                <div class="container__text">
                    <div class="progress"> 
                        <div class="progress__bar__months">
                            <div class="monthly__status"><p class="is--status">Jan 2023</p></div>
                            <div class="monthly__status"><p class="is--status">May 2023</p></div>
                            <div class="monthly__status"><p class="is--status">July 2023</p></div>
                            <div class="monthly__status"><p class="is--status">Oct 2023</p></div>
                            <div class="monthly__status"><p class="is--status">Nov 2023</p></div>
                        </div>
                        <div class="progress__status">
                            <div class="progress__bar">

                            </div>
                        </div>
                        <div class="progress__bar__definitions">
                            <div class="monthly__status"><p class="is--status">Launch MVP</p></div>
                            <div class="monthly__status"><p class="is--status">Launch on Testnet</p></div>
                            <div class="monthly__status"><p class="is--status">Private funding</p></div>
                            <div class="monthly__status"><p class="is--status">Public Funding</p></div>
                            <div class="monthly__status"><p class="is--status">Launch on Mainnet</p></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End of Show status of project -->
    <!-- FAQ section -->
    <div class="light-mode intersection-observed">
        <div id="faq" class="process">
            <div class="container">
                <div class="container__32 mt-5" id="faq">
                <div class="container__text">
                    <h3 class="h4">Frequently Asked Questions</h3>
                </div>
                <div class="container__broad is--testimonial">
                    <div class="testimonial__column">
                        <div
                            class="container__text is--testimonial hidden slide-in-section"
                            data-targetClass="show"
                        >
                            <!-- <p class="is--testimonial is--quote">“</p> -->
                            <p>
                            <strong class="text-purple">
                                Why should I join?
                            </strong>
                            </p>

                            <p class="is--testimonial">
                            Artists can join to raise funds and find like minded artists, fans to discover
                            new trends and access exclusive content, labels and venue owners to find new talents.
                            </p>

                            <div style="width: 10px"></div>
                        </div>
                        <div
                            class="container__text is--testimonial hidden slide-in-section"
                            data-targetClass="show"
                        >
                            <!-- <p class="is--testimonial is--quote">“</p> -->
                            <p>
                            <strong class="text-purple">
                                What can I raise funds for?
                            </strong>
                            </p>

                            <p class="is--testimonial">
                                Producing a single,
                                producing an EP,
                                design of an album cover,
                                holding a concert,
                                creating an official video for a song,
                                and more.
                            </p>
                        </div>
                    </div>
                    <div class="testimonial__column">
                        <div
                            class="container__text is--testimonial hidden slide-in-section"
                            data-targetClass="show"
                        >
                            <!-- <p class="is--testimonial is--quote">“</p> -->
                            <p>
                            <strong class="text-purple">
                                What do artists offer to fans?
                            </strong>
                            </p>

                            <p class="is--testimonial">
                            Videos of practices, meetings, and challenges artists face;
                            videos or in person access to concerts backstage;
                            concert after-party invitation;
                            unofficial or unplugged versions of songs...
                            </p>
                        </div>
                        <div
                            class="container__text is--testimonial hidden slide-in-section"
                            data-targetClass="show"
                        >
                            <!-- <p class="is--testimonial is--quote">“</p> -->
                            <p>
                            <strong class="text-purple">
                                How do I join?
                            </strong>
                            </p>

                            <p class="is--testimonial">
                                Soon you can join by signing up on Muzikie with your email, Apple Music, or Spotify account.
                            </p>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End of FAQ section -->

    <!-- Release section -->
    <div class="light-mode intersection-observed">
        <div id="release" class="process">
            <div class="container">
                <div class="container__text is--contact">
                    <div class="available-label__wrapper">
                        <div class="available-label__bubble"></div>
                        <div class="contact__label">
                            Testnet Available since
                            <strong class="contact__available-text">
                                July 2023
                            </strong>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End of Release section -->
    {{> footer}}
    </main>
</div>
{{> desktopNavigation}}
{{> mobileNavigation}}
{{> backToTop}}
{{> closing}}