{{> head title="Privacy Policy"}}
<section class="light-mode">
    <div class="container is--stage">
        <div class="container__text">
            <br/>
            <br/>
            <h2>Privacy policy</h2>
            <p class="text--message is--small">
                At Muzikie (Block Made GmbH), we respect your privacy and 
                are committed to protecting the personal information you provide to us.
                This privacy policy explains how we collect,
                use, and share your personal information, 
                as well as your rights and choices with respect to your information.
                <br>
            </p>
            <p class="text--message is--small">
                <br>
                <strong>Information Collection and Use:</strong>
                <br>
                We collect personal information that you voluntarily provide
                to us, such as your name and email address when you subscribe
                to our newsletter. We use this information to send you newsletters and 
                other promotional emails about our products and services.
                <br>
                We also use Google Analytics, a web analytics service provided by Google,
                Inc. ("Google"), to anonymously track user statistics. Google Analytics
                uses cookies to collect information about how users interact 
                with our website, including the number of visitors to the site,
                the pages they visit, and the other websites they come from.
                This information helps us improve the user experience on our website.
                We use Mailchimp, an email marketing service provided by The 
                Rocket Science Group LLC d/b/a Mailchimp, 
                to manage our newsletter subscription form. 
                When you subscribe to our newsletter, 
                your personal information is stored on Mailchimp's servers.
                Mailchimp may also collect information about your use of our 
                newsletters, such as whether you opened an email or clicked on a link.
                <br>
                We also use JavaScript libraries hosted on 
                CDN servers to improve the performance and functionality of 
                our website. These libraries may collect certain information
                about your device and browsing behavior.
            </p>
            <p class="text--message is--small">
                <br>
                <strong>Cookies:</strong>
                <br>
                We do not store cookies of our own. This includes our website and applications.
                
                However, on Google Analytics and Mailchimp may store cookies on your 
                device to track your interactions with our website and newsletters. These cookies 
                are only stored on your browser when you use our website not the Muzikie application.
                <br>
                Information Sharing and Disclosure
                <br>
                We do not share your personal information with third parties,
                except as necessary to provide our services or as required by law.

                We may share aggregated and anonymized information about
                our users, such as the number of visitors to our website or the percentage of
                users who click on a certain link, with third-party analytics providers.
                <br>
            </p>
            <p class="text--message is--small">
                <br>
                <strong>Data Retention:</strong>
                <br>
                We retain your personal information for as long as necessary 
                to provide our services and for other legitimate business purposes,
                such as record keeping, fraud prevention, and compliance with legal obligations.
                <br>
                <br>
                <strong>Your Rights and Choices:</strong> 
                <br>
                You have the right to access, correct, or delete your personal 
                information at any time. You may also opt out of receiving 
                promotional emails from us by clicking the "unsubscribe" link in the email 
                or by contacting us at info@block-made.com.
                <br>
                <br>
                <strong>Updates:</strong> 
                <br>
                We may update this privacy policy from time to time to reflect changes 
                in our data practices or applicable laws. We encourage you 
                to review this policy periodically 
                to stay informed about our data practices.
                <br>
                <br>
                <strong>Contact:</strong> 
                <br>
                If you have any questions or concerns about our privacy practices or this policy, 
                please contact us at info[at]block-made[dot]com.
            </p>
        </div>
    </div>
</section>
{{> footer}}
{{> desktopNavigation}}
{{> mobileNavigation}}
{{> backToTop}}
{{> closing}}