{{> head title="Terms and conditions" }}
<section class="light-mode">
    <div class="container is--stage">
        <div class="container__text">
            <br/>
            <br/>
            <h2>Terms of Use</h2>
            <p class="text--message is--small">
                accessing or using our website, you agree to these Terms of Use ("Terms"). 
                Please read them carefully before using our website.
                <br>
                <br>
                <strong>Content:</strong>
                <br>
                All content on our website, including text, images, videos, 
                and audio, is owned by us or our licensors and is protected by 
                copyright and other intellectual property laws. You may not reproduce, 
                distribute, or display our content without our prior written permission.
                <br>
                <br>
                <strong>User Conduct:</strong>
                <br>
                You may use our website only for lawful purposes 
                and in accordance with these Terms. You agree not to use our website:
                <br>
                <br>
                - In any way that violates any applicable federal, state, local, or international law or regulation.
                <br>
                - To engage in any conduct that is harmful, defamatory, obscene, or offensive.
                <br>
                - To upload, transmit, or distribute any viruses, malware, or other harmful software.
                <br>
                - To engage in any automated or unauthorized means of accessing, scraping, or crawling our website.
                <br>
                <br>
                We reserve the right to suspend or terminate your access to our website if you violate 
                these Terms or engage in any other conduct that we deem to be inappropriate.
            </p>
            <p class="text--message is--small">
                <br>
                <strong>Third-Party Content and Links:</strong>
                <br>
                In no event shall we or our affiliates be liable for any direct, 
                indirect, incidental, special, or consequential damages arising out 
                of or in connection with your use of our website, 
                whether based on contract, tort, strict liability, or any other legal theory.
                <br>
            </p>
            <p class="text--message is--small">
                <br>
                <strong>Indemnification:</strong>
                <br>
                You agree to indemnify, defend, and hold us and our 
                affiliates harmless from and against any and all claims, damages, 
                costs, and expenses, including attorneys' fees, arising out of or 
                in connection with your use of our website or your violation of these Terms.
                <br>
                <br>
            </p>
            <p class="text--message is--small">
                <strong>Governing Law and Jurisdiction:</strong>
                <br>
                These Terms shall be governed by and construed in accordance with 
                the laws of Germany, without giving effect to any principles of conflicts of 
                law. Any dispute arising out of or in connection with these Terms shall be subject to the exclusive 
                jurisdiction of the courts located in Berlin, Germany.
                <br>
                <br>
                <strong>Updates:</strong> 
                <br>
                We may update these Terms from time to time by posting the 
                updated Terms on our website. Your continued use of our website 
                after any such changes constitutes your acceptance of the new Terms.
                <br>
                <br>
                <strong>Contact:</strong> 
                <br>
                If you have any questions or concerns about these Terms, please contact us at info[at]muzikie[dot]com.
            </p>
        </div>
    </div>
</section>
{{> footer}}
{{> desktopNavigation}}
{{> mobileNavigation}}
{{> backToTop}}
{{> closing}}